body {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    border-style: solid;
    
    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  header {
      height: 50px;
      
      border-style: solid;
      border-color: red;
     
  }
  h1 {
    text-align: center;
    margin-top: 10px;
  }
  main {
    display: grid;
    grid-template-columns: 200px  4fr;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;

  }
.aside {
    width: 200px;
    border-style: solid;
      border-color:orange;
      overflow: hidden;
      float: left;
}

.section {
    border-style: solid;
      border-color:blueviolet;
      overflow: auto;
      float: left;
}

  footer {
      height: 100px;
      border-style: solid;
      border-color: green;
      
  }

